@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.burger-btn {
  background: transparent;
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.mobile-container {
  position: relative;
  padding-left: 40px;
  padding-top: 48px;
}

.mobile-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 100;
  overflow: scroll;

  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.mobile-menu__close-icon {
  width: 20px;
  height: 25px;
  fill: #000000;

  &:hover,
  &:focus,
  &:active {
    fill: var(--accent-color);
  }
}

.mobile-nav-list {
  margin-bottom: 300px;
}

.mobile-nav-list-item {
  margin-bottom: 32px;
}
.mobile-nav-list-link {
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  &:hover,
  &:focus,
  &:active,
  &.current {
    color: var(--accent-color);
  }
}
.mobile-contacts-list {
  margin-bottom: 64px;
}
.mobile-contacts-list-item {
  margin-bottom: 32px;
}
.mobile-contacts-list-link-tel {
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;

  &:hover,
  &:focus,
  &:active,
  &.current {
    color: var(--primary-text-color);
  }
}

.mobile-contacts-list-link-email {
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;

  &:hover,
  &:focus,
  &:active,
  &.current {
    color: var(--accent-color);
  }
}
.mobile-social-list {
  display: flex;
  padding-bottom: 48px;
}
.mobile-social-list-link {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;

  &:hover,
  &:focus,
  &:active,
  &.current {
    color: var(--primary-text-color);
  }
}
.mobile-social-list-item {
  margin-right: 10px;
  padding-right: 10px;

  &:not(:last-child) {
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
@media screen and (max-width: 768px) {
  .header-container {
    justify-content: space-between;
    padding: 10px;
  }
}
