.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 1;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  padding: 40px;
  display: block;
  margin: auto;
  width: 450px;
  min-height: 609px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal-close-btn {
  display: flex;
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 0;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:active,
  &:hover {
    fill: var(--accent-color);
  }
}

.contact-form-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.contact-form {
  width: 370px;
  margin: 0 auto;

  & a {
    font-size: 12px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 12px 12px 42px;

  cursor: pointer;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    outline: none;
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
}

.contact-form-message {
  padding: 12px 16px;
  height: 120px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  resize: none;
  margin-bottom: 20px;

  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}
.input-name {
  display: block;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.contact-form-submit {
  display: block;
  margin: 0 auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: #188ce8;
  }
}
.contact-form-checkbox-condition {
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}

.contact-form-checkbox-label {
  display: flex;

  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 15px;
    margin-right: 8px;
    margin-top: 3px;
    cursor: pointer;
    border: 2px solid #212121;
    border-radius: 2px;
  }

  .contact-form-checkbox:checked + &::before {
    background-image: url(../images/icon-checked.svg);
    border: none;
    outline: none;
  }

  .contact-form-checkbox:focus + &::before {
    outline: 1px solid rgba(0, 0, 255, 0.5);
  }
  .contact-form-checkbox:hover + &::before {
    outline: none;
  }
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
  margin-bottom: 10px;

  &:hover {
    outline: none;
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .contact-form-input {
    line-height: 1.67;
  }

  .modal {
    width: 528px;
    min-height: 581px;
  }

  .contact-form {
    width: 448px;
  }

  .contact-form-checkbox-condition {
    font-size: 14px;
  }

  .contact-form a {
    font-size: 14px;
  }
}
