.hero-title {
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 26px;
  font-weight: 900;
  text-align: center;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

// .about-title {
//   max-width: 370px;
// }

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }

  // .about-title {
  //   max-width: 705px;
  // }
}
